:root {
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --white: hsl(0, 0%, 100%);
    --white-paragraph: hsla(0, 0%, 100%, 0.75);
    --white-headings: hsla(0, 0%, 100%, 0.6);

    --fontSize: 15px;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
    padding:0;
    min-height:100vh;
}
*,
**::before,
**::after {
    box-sizing: inherit;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
